* {

    --revealed-color:lightblue;
    --hidden-color:blue;
    --clicked-color:darkblue;
}



.board {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.board > div {
    display:flex;
    gap:10px;
}

.tile {
    width:100px;
    height:100px;
    background-color:var(--hidden-color);
}

.tile.clicked {
    background-color:var(--clicked-color);
}

.tile.hidden {
    transform:rotateY("180");
    transition:background-color 1s;
}

.tile.revealed {
    background-color:var(--revealed-color);
}