@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Skranji&family=Space+Mono&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    color:white;
}


body {
    background-color:rgb(48, 48, 48);
}