body {
    margin:0;
    background-color:rgb(34, 34, 49);
    transition-property:background-color;
    transition-duration:0.5s;
    font-family:"Roboto",sans-serif;
    font-size:21px;
    display:flex;
    flex-direction:column;
    padding:25% 0;
    align-items:center;
    min-width:1000px;

}

#buttons {
    display:flex;
    gap:100px;
}

button {
    font-size:30px;
    width:200px;
    height:100px;
    background-color: rgb(72, 72, 185);
    border-radius:20%;
}

button:hover {
    background-color: rgb(113, 43, 226);
}